#UserCard {
    max-width: 500px;
    margin-top: 50px;
}

.Profile_EditLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*padding-left: 1rem;*/
}

@media only screen and (max-width: 760px) {
    #UserCard {
        margin-left: 1rem;
        max-width: 100%;
    }

}
.UserCard_Separator{
    padding:0;
    margin:0;
    margin-bottom: 2px;
}