
.ProfileCourseListItem:hover {
    cursor: pointer;
    background-color: #eee;
}
#UserCoursesList{
    padding: 0;
    margin: 0 3rem 0 0;
}#UserCoursesList li {
     list-style: none;

     padding: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-out;
     margin: 0 0 1rem;
 }
#UserCoursesList li:hover {
    cursor: pointer;
    background-color: #eee;
}