
#Dashboard_MyPosts ul {
    width: auto;
    height: 60vh;
}

#PostCard {
    max-width: 700px;
    flex-grow: 2;
}

#PostCard .PostList {
    width: 80%;
}

@media only screen and (max-width: 700px) {
    #PostCard {
    }

    #PostCard ul {
        max-width: 100%;

    }
}