input.login,form.login ,label.login {
    display: block;
}
#Login{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;


}
form.login.Login_form{

}
form.login{
    display: flex;
width: 50%;
    justify-content: center;
    align-items: center;

}
.login-items{
flex-grow: 2;

}
.login-items div{
    width: 100%;
}
.login-items input{
    width: 100%;
}
.Login_form{


    width: 80%;
    margin: 5% 10%;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    background-color: #fff;
}
.Login_button{
    /*override margin from .Button */
    margin-top: 1rem !important;
}

label.login {
    margin-bottom: 5px;
}

form.login {
    margin-left: 10%;
    margin-top: 5%;
}
input.login {
    width: 50%;
    padding: 5px;
}
div.login {
    margin-top: 10px;
}


.login-items input.login{
    width: 80%;

}

@media screen and (max-width: 800px){


    form.login {
        /*margin-left: 10%;*/
        /*margin-top: 5%;*/
    }
    input.login {
        /*width: 50%;*/
        /*padding: 5px;*/
    }
    div.login {
        margin-top: 10px;
    }







    form.login.Login_form{
        width: 70%;
        margin:0;
    }
    div.login-items{
        width: 100%;
        padding:10%
    }
    .login-items input.login{
        width: 100%;

    }
    .login input{
        width: 40%
    }
    label.login {
        margin-bottom: 5px;
    }
    .btn.btn-primary.login{
        margin-top:3%;
        width: 100%;
    }
    input.login {
        width: 100%;
        padding: 5px;
    }

    form.login {
        margin-left: 10px;
        margin-top: 5%;
        width:95%;
    }

    div.login {
        margin-top: 20px;
        /*margin: 0;*/
        margin-right:5px ;

    }
}