input.register,form.register ,label.register {
    display: block;
}



label.register {
    margin-bottom: 5px;
}

form.register {
    margin-left: 10%;
    margin-top: 5%;

}
input.register {
    width: 50%;
    padding: 5px;

}
div.register {
    margin-top: 10px;

}

@media screen and (min-width: 700px){
    form.register{
        width:50%;
    }
    #RegisterFormContainer{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 1000px) {
    form.register{
        width:30%;    }
}

/*@media screen and (min-width: 700px){*/
/*    form.register{*/
/*        display:flex;*/
/*        justify-content: center;*/
/*    }*/
/*    #Register_FormItems{*/
/*flex-grow: 1;*/
/*width:100%;*/
/*        margin-right:0;*/
/*    }*/
/*    .LabeledInput-div{*/
/*        margin-right:0;*/
/*    }*/
/*form.register{*/
/*    width: 70%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*    div.LabeledInput-div {*/
/*        width: 70%;*/
/*    }*/
/*    input.register {*/
/*        width: 70%;*/
/*        padding: 5px;*/

/*    }*/
/*}*/
@media screen and (max-width: 500px){
    label.register {
        margin-bottom: 5px;
    }

    input.register {
        width: 100%;
        padding: 5px;
    }

    form.register {
        margin-left: 10px;
        margin-top: 5%;
        width:95%;
    }

    div.register {
        margin-top: 20px;
        /*margin: 0;*/
        margin-right:5px ;

    }
}