
#CourseDashboard_welcome{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 300;
    justify-content: center;
    margin-top: 2rem;
}
.CourseDashboard_course-attributes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}