.ConfirmationModal{

}
.ConfirmationModal_Content{
    z-index: 3;

    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.ConfirmationModal_Title{

}
.ConfirmationModal_MessageText{


}
.ConfirmationModal_Buttons{

}
.ConfirmationModal_CenteredContainer.Button{

}
.ConfirmationModal_ConfirmButton.Button{

}
.ConfirmationModal_CancelButton{

}