#Home_Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;

}


#Home_CourseList {
    width: 70%;
    margin-left: 10px;

}

.Home_Welcome {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 10px;
}

#HomePage.sr-container {
    margin: 2% 2%;
    padding: 3%;
    padding-bottom: 28vh;
}


#HomePage h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 4rem;
    margin-top: 2rem;
}
#PostCard{
    /*overflow-y:scroll;*/
}
#PostCard ul{
    overflow-y:scroll;
}
.post-card {
    height: 400px; /* Set the desired height for the card */
    overflow: auto; /* Enable scrolling when the content exceeds the height */
}


/*#Dashboard .PostList {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    overflow-y: scroll;*/

/*}*/



@media screen and (max-height: 770px) {
    #HomePage.sr-container {

        padding-bottom: 20vh;
    }
}

@media screen and (max-height: 730px) {
    #HomePage.sr-container {

        padding-bottom: 15vh;
    }
}


@media screen and (max-height: 650px) {
    #HomePage.sr-container {

        padding-bottom: 10vh;
    }
}

@media screen and (max-height: 600px) {
    #HomePage.sr-container {
        margin: 0;
        box-shadow: none;
        border: none;
        padding-bottom: 7vh;
    }
}


/*@media screen and (max-height: 685px) {*/

/*    #Dashboard .PostList ul{*/
/*        height:320px;*/
/*    }*/

/*}*/