/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    padding-left: 1rem;
}

.bar {
    padding-left: .7rem;
}

/* Links inside the navbar */
.navbar .link {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar .link:hover {

    text-decoration:  underline;

}


@media (max-width: 400px) {
    .navbar .link {
        display: none
    }




    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }
}

@media (min-width: 401px) {

    .active {
        background: white;
        color: white;
    }



    /* Add a red background color to navbar links on hover */
    .navbar .link:hover {
        background-color: lavender;

    }

    .navbar .link:hover {
        background-color: #444444;
    }


}

.active {
    background-color: grey;
    color: #fff;
}